* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
header{
    display: flex;
    flex-direction: row;

}
.logo{
    padding: 30px 0 0 30px;
    cursor: pointer;
    z-index: 1;
}
.main_first_content{
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/apartment_3.jpg');
    height: 785px;
    width: 33.3%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.main_second_content{
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/apartment_4.jpg');
    height: 785px;
    width: 33.3%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.main_third_content{
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/apartment_5.jpg');
    height: 785px;
    width: 33.4%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 9999;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFF;
    transition-duration: .25s;
  }
  
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    width: 300px;
    height: 100%;
    margin-left: 181px;
    padding: 80px 0;
    list-style: none;
    background-color: rgb(138, 138, 138);
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    text-align: center;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  a{
    text-decoration: none;
    color: #333;
    font-size: 20px;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

.catigories_1{
    text-align: center;
    align-items: center;
    padding-top: 60%;
}
.catigories_2{
    text-align: center;
    align-items: center;
    padding-top: 71%;
}
.catigories_3{
    text-align: center;
    align-items: center;
    padding-top: 65%;
}
.catigories_1 h2,
.catigories_2 h2,
.catigories_3 h2{
    color: #FFF;
    margin-bottom: 20px;
    font-size: 36px;
}

.catigories_1 a,
.catigories_2 a,
.catigories_3 a {
    text-decoration: none;
    color: #FFF;
    font-size: 24px;
    border: 1px solid gold;
    padding: 10px 20px;
    border-radius: 5px;
}

.main_first_content::before,
.main_second_content::before,
.main_third_content::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    transition: opacity 0.3s ease; /* Плавний перехід для opacity */
    pointer-events: none; /* Вимикаємо можливість наведення на псевдоелемент */
}

.main_first_content:hover::before,
.main_second_content:hover::before,
.main_third_content:hover::before{
    opacity: 0; /* Зміна прозорості при наведенні */
}

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); /* Застосування розмиття */
    pointer-events: none; /* Вимикаємо можливість взаємодії з overlay */
    display: none;
}

.blur-active .blur-overlay {
    display: block;
}